@font-face {
    font-family: 'Axiforma';
    src: url('fonts/Axiforma-BlackItalic.eot');
    src: local('Axiforma Black Italic'), local('Axiforma-BlackItalic'),
        url('fonts/Axiforma-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Axiforma-BlackItalic.woff') format('woff'),
        url('fonts/Axiforma-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('fonts/Axiforma-Bold.eot');
    src: local('Axiforma Bold'), local('Axiforma-Bold'),
        url('fonts/Axiforma-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Axiforma-Bold.woff') format('woff'),
        url('fonts/Axiforma-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('fonts/Axiforma-ThinItalic.eot');
    src: local('Axiforma Thin Italic'), local('Axiforma-ThinItalic'),
        url('fonts/Axiforma-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Axiforma-ThinItalic.woff') format('woff'),
        url('fonts/Axiforma-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('fonts/Axiforma-Heavy.eot');
    src: local('Axiforma Heavy'), local('Axiforma-Heavy'),
        url('fonts/Axiforma-Heavy.eot?#iefix') format('embedded-opentype'),
        url('fonts/Axiforma-Heavy.woff') format('woff'),
        url('fonts/Axiforma-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('fonts/Axiforma-Medium.eot');
    src: local('Axiforma Medium'), local('Axiforma-Medium'),
        url('fonts/Axiforma-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Axiforma-Medium.woff') format('woff'),
        url('fonts/Axiforma-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('fonts/Axiforma-LightItalic.eot');
    src: local('Axiforma Light Italic'), local('Axiforma-LightItalic'),
        url('fonts/Axiforma-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Axiforma-LightItalic.woff') format('woff'),
        url('fonts/Axiforma-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('fonts/Axiforma-BoldItalic.eot');
    src: local('Axiforma Bold Italic'), local('Axiforma-BoldItalic'),
        url('fonts/Axiforma-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Axiforma-BoldItalic.woff') format('woff'),
        url('fonts/Axiforma-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('fonts/Axiforma-BookItalic.eot');
    src: local('Axiforma Book Italic'), local('Axiforma-BookItalic'),
        url('fonts/Axiforma-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Axiforma-BookItalic.woff') format('woff'),
        url('fonts/Axiforma-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('fonts/Axiforma-SemiBold.eot');
    src: local('Axiforma SemiBold'), local('Axiforma-SemiBold'),
        url('fonts/Axiforma-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Axiforma-SemiBold.woff') format('woff'),
        url('fonts/Axiforma-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('fonts/Axiforma-Thin.eot');
    src: local('Axiforma Thin'), local('Axiforma-Thin'),
        url('fonts/Axiforma-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/Axiforma-Thin.woff') format('woff'),
        url('fonts/Axiforma-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('fonts/Axiforma-Book.eot');
    src: local('Axiforma Book'), local('Axiforma-Book'),
        url('fonts/Axiforma-Book.eot?#iefix') format('embedded-opentype'),
        url('fonts/Axiforma-Book.woff') format('woff'),
        url('fonts/Axiforma-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Axiforma';
    src: url('fonts/Axiforma-MediumItalic.eot');
    src: local('Axiforma Medium Italic'), local('Axiforma-MediumItalic'),
        url('fonts/Axiforma-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Axiforma-MediumItalic.woff') format('woff'),
        url('fonts/Axiforma-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('fonts/Axiforma-Italic.eot');
    src: local('Axiforma Italic'), local('Axiforma-Italic'),
        url('fonts/Axiforma-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Axiforma-Italic.woff') format('woff'),
        url('fonts/Axiforma-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('fonts/Axiforma-SemiBoldItalic.eot');
    src: local('Axiforma SemiBold Italic'), local('Axiforma-SemiBoldItalic'),
        url('fonts/Axiforma-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Axiforma-SemiBoldItalic.woff') format('woff'),
        url('fonts/Axiforma-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('fonts/Axiforma-Regular.eot');
    src: local('Axiforma Regular'), local('Axiforma-Regular'),
        url('fonts/Axiforma-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Axiforma-Regular.woff') format('woff'),
        url('fonts/Axiforma-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('fonts/Axiforma-Light.eot');
    src: local('Axiforma Light'), local('Axiforma-Light'),
        url('fonts/Axiforma-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Axiforma-Light.woff') format('woff'),
        url('fonts/Axiforma-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
