
@font-face {
  font-family: 'Axiforma';
  src: url('../public/fonts/Axiforma/Axiforma-BlackItalic.eot');
  src: local('Axiforma Black Italic'), local('Axiforma-BlackItalic'),
      url('../public/fonts/Axiforma/Axiforma-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Axiforma/Axiforma-BlackItalic.woff') format('woff'),
      url('../public/fonts/Axiforma/Axiforma-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../public/fonts/Axiforma/Axiforma-Bold.eot');
  src: local('Axiforma Bold'), local('Axiforma-Bold'),
      url('../public/fonts/Axiforma/Axiforma-Bold.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Axiforma/Axiforma-Bold.woff') format('woff'),
      url('../public/fonts/Axiforma/Axiforma-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../public/fonts/Axiforma/Axiforma-ThinItalic.eot');
  src: local('Axiforma Thin Italic'), local('Axiforma-ThinItalic'),
      url('../public/fonts/Axiforma/Axiforma-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Axiforma/Axiforma-ThinItalic.woff') format('woff'),
      url('../public/fonts/Axiforma/Axiforma-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../public/fonts/Axiforma/Axiforma-Heavy.eot');
  src: local('Axiforma Heavy'), local('Axiforma-Heavy'),
      url('../public/fonts/Axiforma/Axiforma-Heavy.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Axiforma/Axiforma-Heavy.woff') format('woff'),
      url('../public/fonts/Axiforma/Axiforma-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../public/fonts/Axiforma/Axiforma-Medium.eot');
  src: local('Axiforma Medium'), local('Axiforma-Medium'),
      url('../public/fonts/Axiforma/Axiforma-Medium.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Axiforma/Axiforma-Medium.woff') format('woff'),
      url('../public/fonts/Axiforma/Axiforma-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../public/fonts/Axiforma/Axiforma-LightItalic.eot');
  src: local('Axiforma Light Italic'), local('Axiforma-LightItalic'),
      url('../public/fonts/Axiforma/Axiforma-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Axiforma/Axiforma-LightItalic.woff') format('woff'),
      url('../public/fonts/Axiforma/Axiforma-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../public/fonts/Axiforma/Axiforma-BoldItalic.eot');
  src: local('Axiforma Bold Italic'), local('Axiforma-BoldItalic'),
      url('../public/fonts/Axiforma/Axiforma-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Axiforma/Axiforma-BoldItalic.woff') format('woff'),
      url('../public/fonts/Axiforma/Axiforma-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../public/fonts/Axiforma/Axiforma-BookItalic.eot');
  src: local('Axiforma Book Italic'), local('Axiforma-BookItalic'),
      url('../public/fonts/Axiforma/Axiforma-BookItalic.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Axiforma/Axiforma-BookItalic.woff') format('woff'),
      url('../public/fonts/Axiforma/Axiforma-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../public/fonts/Axiforma/Axiforma-SemiBold.eot');
  src: local('Axiforma SemiBold'), local('Axiforma-SemiBold'),
      url('../public/fonts/Axiforma/Axiforma-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Axiforma/Axiforma-SemiBold.woff') format('woff'),
      url('../public/fonts/Axiforma/Axiforma-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../public/fonts/Axiforma/Axiforma-Thin.eot');
  src: local('Axiforma Thin'), local('Axiforma-Thin'),
      url('../public/fonts/Axiforma/Axiforma-Thin.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Axiforma/Axiforma-Thin.woff') format('woff'),
      url('../public/fonts/Axiforma/Axiforma-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../public/fonts/Axiforma/Axiforma-Book.eot');
  src: local('Axiforma Book'), local('Axiforma-Book'),
      url('../public/fonts/Axiforma/Axiforma-Book.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Axiforma/Axiforma-Book.woff') format('woff'),
      url('../public/fonts/Axiforma/Axiforma-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Axiforma';
  src: url('../public/fonts/Axiforma/Axiforma-MediumItalic.eot');
  src: local('Axiforma Medium Italic'), local('Axiforma-MediumItalic'),
      url('../public/fonts/Axiforma/Axiforma-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Axiforma/Axiforma-MediumItalic.woff') format('woff'),
      url('../public/fonts/Axiforma/Axiforma-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../public/fonts/Axiforma/Axiforma-Italic.eot');
  src: local('Axiforma Italic'), local('Axiforma-Italic'),
      url('../public/fonts/Axiforma/Axiforma-Italic.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Axiforma/Axiforma-Italic.woff') format('woff'),
      url('../public/fonts/Axiforma/Axiforma-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../public/fonts/Axiforma/Axiforma-SemiBoldItalic.eot');
  src: local('Axiforma SemiBold Italic'), local('Axiforma-SemiBoldItalic'),
      url('../public/fonts/Axiforma/Axiforma-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Axiforma/Axiforma-SemiBoldItalic.woff') format('woff'),
      url('../public/fonts/Axiforma/Axiforma-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../public/fonts/Axiforma/Axiforma-Regular.eot');
  src: local('Axiforma Regular'), local('Axiforma-Regular'),
      url('../public/fonts/Axiforma/Axiforma-Regular.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Axiforma/Axiforma-Regular.woff') format('woff'),
      url('../public/fonts/Axiforma/Axiforma-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../public/fonts/Axiforma/Axiforma-Light.eot');
  src: local('Axiforma Light'), local('Axiforma-Light'),
      url('../public/fonts/Axiforma/Axiforma-Light.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Axiforma/Axiforma-Light.woff') format('woff'),
      url('../public/fonts/Axiforma/Axiforma-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


body {
  --divider: #343434;
  --background: #222431;
  --mainRed: #e30713;
  --mainGreen: #0d9939;
  --mainYellow: #dcb01b;
  --darkRed: #630308;
  --darkGreen: #075921;
  color: #fff;
  background-color: var(--background);
  font-family: 'Axiforma', sans-serif;
/* font-family: 'Bellota', cursive; */


}
a {
  text-decoration: none;
  color:unset;
}

.lds-heart {
  display: inline-block;
  position: absolute;
  top: 20%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 96px;
  height: 96px;
  background: #fff;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 96px;
  height: 96px;
  background: #fff;
}
.lds-heart div:before {
  left: -72px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -72px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

/* Loader End */

.trailsText {
  position: relative;
  width: 100%;
  height: 80px;
  line-height: 80px;
  color: #fff;
  font-size: 6em;
  font-weight: 800;
  letter-spacing: -0.05em;
  will-change: transform, opacity;
  overflow: hidden;
}

@media (max-width: 768px)  {
  .trailsText {
    font-size: 3em;
    font-weight: 800;
    height: 40px;
    line-height: 40px;

  }
}

.trailsText > div {
  padding-right: 0.05em;
  overflow: hidden;
}

.spring_container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.c {
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  width: auto;
  height: 245px;
  border-radius: 15px;
  cursor: pointer;
  will-change: transform, opacity;
  background-size: cover;
  background-position: center;
  margin-bottom: 1.5rem;
  margin-right: 0.5rem; 
  margin-left: 0.5rem;
}

.grey_text_left {
  margin-left: 0%;
  padding-left: 2%;
  background-color: #9093a1db;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-right: 10rem;
  font-size: 2.7rem;
  margin-top: 7rem;
}
.grey_text_right {
  margin-right: 0%;
  padding-left: 2%;
  background-color: #9093a1db;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-left: 10rem;
  font-size: 2.7rem;
}
@media (max-width: 600px)  {
  .grey_text_left {
    margin-right: 10%;
    font-size: 1.5rem;
  }
  .grey_text_right {
    margin-left: 10%;
    font-size: 1.5rem;
  }
}
.mobile-logo {
  display: none;
}
.mobile-logo img {
  display: none;
  height: 40px;
  margin-left: 10px;
}
.desktop-logo {
  display: flex;
}
.desktop-logo img {
  height: 40px;
  margin-left: 10px;
}
@media (max-width: 1024px) {
  .mobile-logo  {
    display: block;
  }
  .mobile-logo img {
    display: block;
  }
  .desktop-logo  {
    display: none;
  }
  .desktop-logo img {
    display: none;
  }
}
@media (max-width: 600px) {
  .mobile-logo {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.header-title {
  display: flex;
  justify-content: space-between;
}
.avatar {
  height: 50px;
  width: 50px;
}
.product-header {
  border-bottom: 1px solid var(--divider);
  margin-top: 5rem;
}
.card-title {
  color: #fff;
  text-align: center;
}
@media (max-width: 500px) {
  .card-title {
    font-size: 26px;
    margin-right: 8px;
    line-height: 1.25;
  }
}
.manager {
  display: flex;
  align-items: center;
}
.image-gallery-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: inherit;
  object-fit: contain;
  height: 100%;
}
.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}
.next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
}
/* .image-gallery-controls {
  display: flex;
  justify-content: space-between;
} */

.gallery-container {
  background-color: var(--background);
  border-radius: 25px;
  margin: 0;
  padding: 0 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
  list-style: none;
}

.gallery-item {
  border-radius: 10px;
  margin: 15px;
  cursor: pointer;
  flex: 1 1 300px;
  display: flex;
  box-shadow: 0px 0px 10px 0px rgb(240 240 240 / 30%);
}
.gallery-item__bg-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.gallery-item__category-text {
  color:#000;
  position: absolute;
  margin-left: 1rem;
}
.gallery-item__title-text {
  color:#000;
  position: absolute;
  margin-left: 1rem;
  margin-top: 2.7rem;
}
.gallery-item__subtitle-text {
  color:#000;
  position: absolute;
  margin-left: 1rem;
  margin-top: 4.5rem;
}

.imggallery {
  height: 100%;
  object-fit: contain;
}

.overlay {
  display: none;
}

.product-card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  pointer-events: none;
}
@media (max-width: 768px) {
  .product-card-container {
    position: fixed;
    top: 4.1rem;
  }
  
}

.product-card-container * {
  pointer-events: all;
}

.single-product-card {
  border-radius: 20px;
  width: 30vw;
  height: fit-content;
  margin-top: 3%;
  padding-bottom: 5%;
  color: #000;
}
@media (max-width: 1880px) {
  .single-product-card {
    width: 40vw;
  }
}
@media (max-width: 768px) {
  .single-product-card {
    margin-top: 1%;
    width: 100%;
  }
  
}
.input_price {
  width: 7.5rem;
  margin-right: 1.5rem !important;
  margin-top: 1rem !important;
}
.card-content-category {
  width: 100%;
  margin: 0;
}
.card-content-title {
  margin-top: 0.7rem;
  margin-bottom: 0;
}
.card-content-text {
  font-size: 1.2rem
}
.card-content-price {
  width: 100%;
}
.card-content-bju {

}
.production-header {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 5rem;
}
.production-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.production-container > * {
  flex: 1 1 20em;
}
@media (max-width: 500px) {
  .production-container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
.front {
  position: relative;

}
.back {
  background-color: #fff;
  position: relative;
  
}
.FlipCard-text {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 1rem;
  text-align: justify;
  margin-top: 0;
  color: #000;
}
.footer {
  padding: 24px 16px;
  margin-top: 'auto';
  background-color: var(--darkGreen);
}
.footer-media-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer-media {
  margin-bottom: 16px !important;
  margin-left: 1rem !important;
  margin-right: 1rem !important;
  font-size: 1.2rem !important;
}
.footer-box {
  background: linear-gradient(13deg, var(--mainGreen) 25%, var(--darkGreen) 60%);
  background: -moz-linear-gradient(13deg, var(--mainGreen) 25%,var(--darkGreen) 60%);
  background: -webkit-linear-gradient(13deg, var(--mainGreen) 25%,var(--darkGreen) 60%);
  border-radius: 10px;
  box-shadow: 7px 8px 12px var(--background);
  padding: 0.5rem;
  font-size: 1.2rem;
}
@media (max-width: 1024px) {
  .footer-box {
    margin-left: 1rem;
  }
}

.footer-box-title {
  margin-left: 1rem;
}
.footer-box > p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.footer-media-text {
  margin-left: 0.6rem;
}
.contacts-people {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
@media (max-width: 900px) {
  .contacts-people {
    flex-wrap: wrap;
  }
}
.contacts-people-box {
  background: linear-gradient(13deg, var(--mainGreen) 25%, var(--darkGreen) 60%);
  background: -moz-linear-gradient(13deg, var(--mainGreen) 25%,var(--darkGreen) 60%);
  background: -webkit-linear-gradient(13deg, var(--mainGreen) 25%,var(--darkGreen) 60%);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgb(240 240 240 / 30%);
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts-people-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contacts-shops-header {
  color: rgb(255, 255, 255);
  text-align: justify;
  border: 4px solid var(--mainRed);
  border-radius: 10px;
  padding: 1rem;
}
.img-cart {
  width: 7rem !important;
  transition: all 0.5s;
  border-radius: 10px;
}
.img-cart:hover {
  box-shadow: 0px 5px 20px 1px var(--mainDark);
}
.d-none {
  display: none !important; 
}
@media (min-width: 900px) {
  .d-lg-none {
    display: none !important; 
  }
  .d-lg-block {
    display: block !important; 
  }
}
.cart-item {
  display: flex !important;
  justify-content:center !important;
  align-content:center !important;
  border-top: 5px solid #998f8f7a;
  padding: 1rem;
  flex-wrap: nowrap !important;
}
.cart-item div {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  align-content: center !important;
}
.cart-item__title {
  text-align: center !important;
}
.cart-item__cost {
  flex-wrap: wrap !important;
}
@media (max-width: 768px) {
  .cart-item {
    flex-wrap: wrap !important;
    flex-direction: column !important;
    margin-left: 0px !important;
  }
}
@media (max-width: 768px) {
  .cart-item__title {
    margin-top: .3rem !important;
    margin-bottom: .3rem !important;
  }
  .cart-item__price {
    margin-bottom: .3rem !important;
    align-items: baseline !important;
  }
}
@media (max-width: 900px) {
  .cart-item__cost {
    align-items: baseline !important;
  }
}
.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.product-total {
  display: flex;
  align-items: flex-start;
}
#select-helper-label {
  display: flex;
  align-items: flex-start;
}
.cart-item-cost, .cart-item-price {
  display: flex;
}
@media (max-width: 768px) {
  .cart-item-cost, .cart-item-price {
    margin-left: 4px;
  }
}